@charset "UTF-8";

/* Todas as demais mídias */

/* 
Typical Device Breakponits
---------------------------
Pequenas telas: até 600px
Celular: ate 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas. acima de 1200px
 */

@media print {
  * {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-shadow: none;
  }

  h1 {
    color: black;
    text-shadow: none;
  }

  main {
    border: 2px solid black;
  }

  img#phone {display: none;}
  img#print {display: none;}
  img#pc {display: none;}
  img#tablet {display: block;}
  img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: url(../imagens/back-tablet.jpg);
  }

  img#phone {display: none;}
  img#print {display: none;}
  img#pc {display: none;}
  img#tablet {display: block;}
  img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url(../imagens/back-pc.jpg);
  }

  main {
    width: 700px;
  }

  img#phone {display: none;}
  img#print {display: none;}
  img#pc {display: block;}
  img#tablet {display: none;}
  img#tv {display: none;}
  
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url(../imagens/back-tv.jpg);
  }

  main {
    width: 700px;
  }

  img#phone {display: none;}
  img#print {display: none;}
  img#pc {display: none;}
  img#tablet {display: none;}
  img#tv {display: block;}
}